[submodule "SNNT/vendor/nnenum"]
	path = deps/nnenum
	url = https://github.com/samysweb/nnenum.git
[submodule "deps/OVERTFixed"]
	path = deps/OVERTFixed
	url = https://github.com/samysweb/OVERT.jl.git
